
<form action="\products" method="get">
  <p><textarea name="query"></textarea> </p>
  <p><input type="submit" value="найти"></p>
</form>

<h3>найдено <%= @products.count %> продуктов:</h3>

<% @products.each do |product| %>
  <p><%= link_to product.name, product_path(product) %></p>
<% end %>
